<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VPNConnected.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VPNConnected.Properties.Settings>
            <setting name="DisconnectedIconFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectedIconFile" serializeAs="String">
                <value />
            </setting>
            <setting name="HostName" serializeAs="String">
                <value>vpn.work</value>
            </setting>
        </VPNConnected.Properties.Settings>
    </userSettings>
</configuration>